.DS_Store
.idea/compiler.xml
.idea/encodings.xml
.idea/Language-Study-Note.iml
.idea/libraries/Dart_SDK.xml
.idea/misc.xml
.idea/modules.xml
.idea/perl5local.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/emacs.xml
.idea/libraries/R_User_Library.xml
.idea/play2_compiler_settings.xml
